:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #111111;
}

h2 {
  color: #111111;
}

h3 {
  color: #111111;
}

p{
  color: #111111;
}

label {
  color: #111111;
}

button {
  color: #111111;
  border-radius: 8px;
  border: 3px solid #D1E5B2;
  background-color: #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
  background-color: #D1E5B2;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.player{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
 .player-button img:hover{
  filter: brightness(0);
  transition: ease 0.5s;
 }
 .prenext{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
 }

 /* Style général pour la section */
h2 {
  color: #111111;
  text-align: center;
  margin-bottom: 20px;
}

/* Style des champs d'entrée et des libellés */
label {
  display: block;
  font-size: 14px;
  color: #111111;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 2px solid #D1E5B2;
  border-radius: 5px;
  background-color: #ffffff;
  color: #111111;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #111111;
  box-shadow: 0 0 5px #D1E5B2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

li{
  color: #111111;
}



